@import "tailwindcss";

@theme {
    --color-primary: #800000;
    --color-overlay: #81001d;
    --color-special: #5a413d;
    --color-heading: #1a1a1a;
    --color-body: #5f5e5e;
    --color-banner: #F8F9FA;
    --color-banner-border: #E5E7EB;
    --color-btn: #570000;
    --color-hero-description: #E2E2E2;
    --color-hero-heading: #F9F9F9;
    --font-heading: "Playfair Display", serif;
    --font-body: "Inter", sans-serif;
    --color-navbar: #3f3f3f;
    --color-subheading-sidebar: #767676
}